body{
    background-image: linear-gradient(to bottom  right,#00F490, #00BBC9);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1{

    font-family: 'Abril Fatface', cursive;
}

.jumbotron{
    background-color: rgba(32, 178, 171, 0);
}

.lead {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.drop-shadow{
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.288);
}

.btn-outline-light{
    border-color: white;
}

.btn-outline-light:hover{
    background-color: rgba(255, 255, 255, 0.300);
}